body {
  background-image: url(/images/burgerfries1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  font-family: 'Lato', sans-serif;
  min-width: 400px;
}


header {
  background-color: #88130A;
  width: 100%;
  height: 60%;
}

.logo img {
  height: 70%;
  width: 40%;
  display: inline-block;
  border: 5px solid black;
}

.first-text img, .second-text img, .third-text img, .fourth-text img {
  width: 40%;
  position: absolute;
  top: 20px;
  display: inline-block;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.first-text img {
  animation-name: anim-1;
}

.second-text img {
  animation-name: anim-2;
}

.third-text img {
  animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: 50%; opacity: 0; }
  8.3%,25% { left: 50%; opacity: 1; }
  33.33%, 100% { left: 50%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: 50%; opacity: 0; }
  41.63%, 58.29% { left: 50%; opacity: 1; }
  66.66%, 100% { left: 50%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: 50%; opacity: 0; }
  74.96%, 91.62% { left: 50%; opacity: 1; }
  100% { left: 50%; opacity: 0; }
}

nav {
  width: auto;
  background-color: #FFC535
}

nav ul li {
  display: inline-block;
  padding: 10px;
}







