body {
  background-image: url(https://github.com/konarie1990/checkpoint1/blob/master/images/burgerfries1.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 100px;
  height: auto;
  font-family: 'Lato', sans-serif;
  min-width: 400px;
}

/* scrolling text within section */
h1 {
  color: black;
  font-size: 6vw;
  font-family: 'Wellfleet', cursive;
  text-align: center;
  background-color: rgba(255, 198, 53, 0.616);
  border-radius: 5%;
}

/* make the links look kinda like little burgers */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: rgb(182, 144, 50);
  color: yellow;
  border-radius: 20%;
  transition: background-color 0.5s ease;
}

header {
  background-color: #88130A;
  width: 100%;
  height: 60%;
}

.logo img {
  height: 70%;
  width: 40%;
  display: inline-block;
  border: 5px solid black;
}

/* header animation display */
.first-text img, .second-text img, .third-text img {
  width: 40%;
  position: absolute;
  top: 20px;
  display: inline-block;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.first-text img {
  animation-name: anim-1;
}

.second-text img {
  animation-name: anim-2;
}

.third-text img {
  animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: 50%; opacity: 0; }
  8.3%,25% { left: 50%; opacity: 1; }
  33.33%, 100% { left: 50%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: 50%; opacity: 0; }
  41.63%, 58.29% { left: 50%; opacity: 1; }
  66.66%, 100% { left: 50%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: 50%; opacity: 0; }
  74.96%, 91.62% { left: 50%; opacity: 1; }
  100% { left: 50%; opacity: 0; }
}

nav {
  width: auto;
  background-color: #FFC535;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 8px;
  font-size: 3vw;
  font-family: 'Wellfleet', cursive;
}

/* middle section scrolling text */
section {
  width: auto;
  height: 600px;
}

.first-message h1, .second-message h1, .third-message h1 {
  width: 50%;
  position: absolute;
  top: 38%;
  display: inline-block;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.first-message h1 {
  animation-name: textanim-1;
}

.second-message h1 {
  animation-name: textanim-2;
}

.third-message h1 {
  animation-name: textanim-3;
}

@keyframes textanim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes textanim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes textanim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

.burgertexmenu {
  position: relative;
  max-width: 100%;
  height: auto;
}


footer {
  position: absolute;
  background-color: #FFC535;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;

}

footer p {
  font-size: 1.5vw;
}

footer ul li {
  display: inline-block;
  padding: 20px;
  font-size: 2vw;
  font-family: 'Wellfleet', cursive;
}





